@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-text:'Barlow', sans-serif;
    --paragraph-text:'Fraunces', serif;
}

h3{
    font-family: var(--paragraph-text);
    font-weight: 900;
}

p{
    font-family: var(--main-text);
    color: hsl(232, 10%, 55%);
}

a{
    text-decoration: none;
    color: black;
}

.body-wrap{
    max-width:1440px;
    min-width: 375px;
    margin: 0 auto;
}

.header-wrap{
    max-width: 1440px;
    height: 80vh;
    background-image: url("./images/desktop/image-header.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}


header{
    height: 10vh;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin:0 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 40px;
    color: white;
    font-family: var(--main-text);
}

nav ul button{
    padding: 15px 25px;
    margin-right: 10px;
    border: none;
    border-radius: 35px;
    background-color: white;
    font-family: var(--paragraph-text);
    text-transform: uppercase;
}

.hamburger{
    display: none;
    
}

.hamburger .line{
    width: 33px;
    height: 3px;
    margin-bottom: 7px;
    background-color: rgb(255, 255, 255);
}

.header-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title h1{
    font-size: 60px;
    letter-spacing: 13px;
    color: white;
    text-transform: uppercase;
    font-family: var(--paragraph-text);
    margin-bottom: 100px;
    margin-top: 70px;
    text-align: center;
}

.header-title .arrow {
    animation: 1.5s linear  infinite alternate bounce; 

}


@keyframes bounce {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }

    
    }

/*Grid container of content*/

.grid-cont{
    display: grid;
    grid-template-areas:"text1 img1"
                        "img2 text2"
                        "content1 content2";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.grid-cont h3{
    font-size: 40px;
    margin-bottom: 25px;
}

.grid-cont p{
    margin-bottom: 25px;
    font-size: 18px;
    padding-right: 50px;
    line-height: 24px;
}


.text-1{
    grid-area: text1;
    width: 70%;
}


.text-1 h3{
    padding-right: 40px;
}

.link-cont{
    width: 130px;
    text-align: center;
}

.link-cont a{
    font-family: var(--paragraph-text);
    text-transform: uppercase;
}

.link-cont .border{
    width: 100%;
    height: 10px;
    background-color: rgba(255, 222, 74, 0.513);
    border-radius: 10px;
    margin-top: -10px;
}

.link-cont .border2{
    width: 100%;
    height: 10px;
    background-color: rgba(245, 176, 179, 0.513);
    border-radius: 10px;
    margin-top: -10px;
}

.text-1 a .border{
    height: 7px;
    margin-top: -5px;
    border-radius: 5px;
    width: 115px;
    background-color: rgb(255, 81, 0);
}

.main-img-1{
    grid-area: img1;
    height: 100%;
    width: 100%;
}

.main-img-1 img{
    height: 100%;
    width: 100%;
}

.text-2{
    grid-area: text2;
    width: 70%;
}

.text-2 a{
    font-family: var(--paragraph-text);
    text-transform: uppercase;
}

.main-img-2{
    grid-area: img2;
    height: 100%;
    width: 100%;
}

.main-img-2 img{
   height: 100%;
   width: 100%;
}


.content .text-cont{
    width: 50%;
    margin: 0 auto;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.content p{
    margin-bottom: 60px;
    padding: 0;
    font-size: 17px;
}

.content h3{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.content.box-1{
    grid-area: content1;
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.content.box-1 h3{
    color: hsl(167, 40%, 24%);
}

.content.box-1 p{
    color: hsl(167, 40%, 24%);
}

.content.box-2{
    grid-area: content2;
    background-image: url("./images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}


.content.box-2 h3{
    color: hsl(198, 62%, 26%);
}

.content.box-2 p{
    color: hsl(198, 62%, 26%);
}

/*Client testimonials section*/

.testimonial-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:9rem 9rem;
}

.testimonial-cont h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 22px;
    letter-spacing: 5px;
    color: hsl(232, 10%, 55%);
    font-weight: 900;
  }
  

.card-cont{
    display: flex;
    padding: 50px;
}

.card-cont .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-cont .card p{
    margin: 50px 0;
    padding: 0 15px;
    line-height: 25px;
    font-size: 17px;
}

.card-cont .card img{
    border-radius: 50%;
    width: 75px;
   
}

.card-cont .card h3{
   text-transform: capitalize;
   letter-spacing: 0;
   color: black;
   font-family: var(--paragraph-text);
   font-weight: 900;
   margin-bottom: 10px;
   font-size: 18px;
}


.card-cont .card h6{
    color: hsl(210, 3%, 75%);
    font-family: var(--main-text);
    font-size: 13px;
 }

 /*Images content*/

 .images-cont{
     display: grid;
     grid-template-columns: repeat(4,1fr);
 }

 .img-cont{
     width: 100%;
 }

 .img-cont img{
     width: 100%;
     height: 100%;
 }

 /*Footer**********************************/

 footer{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:hsl(168, 62%, 67%) ;
     padding: 65px 0;
 }

 footer .logo{
    margin-bottom: 25px;
 }

 footer .footer-nav{
    display: flex;
    list-style: none;
 }

 footer .footer-nav li{
     padding: 0 20px;
     font-family: var(--main-text);
     color:hsl(168, 34%, 41%);
 }

 footer .social-icons{
     display: flex;
     list-style: none;
     margin-top: 70px;
     margin-bottom: 27px;
 }

 footer .social-icons li{
    padding: 0 15px;
 }


 @media screen and (max-width:1000px) {
  
 .header-title h1{
    font-size: 40px;
  }
   
  .header-wrap{
      height: 60vh;
  }

  .grid-cont h3{
    font-size: 25px;
  }

  .grid-cont p{
    font-size: 14px;
  }
  
  .text-1{
    width: 80%;
  }

  .text-2{
    grid-area: text2;
    width: 80%;
}

/*Testimonial section*/

.testimonial-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:7rem 2rem;
  }


}

 @media screen and (max-width:650px) {
  
    header{
        position: relative;
    }

    nav ul{
        display: none;
    }

    nav ul.active{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 312px;
        height: 300px;
        padding: 20px;
        right: 0;
        top: 100px;
        right: 30px;
        z-index: 99;
    }

    .triangle{
        border-bottom: 30px solid rgb(255, 255, 255);
        border-left: 30px solid transparent;
        position: absolute;
        top: -29px;
        right: 0;
    }

    nav ul li {
        color: gray;
        margin-right: 0;
        margin-bottom: 30px;
        font-size: 20px;
    }

    nav ul button {
      background-color: rgb(255, 216, 40);
      margin: 0;
      padding: 20px 30px;
    }
    
    .hamburger{
       display: block;
       
   }

  

   .header-wrap{
    max-width: 1440px;
    height: 75vh;
    background-image: url("./images/mobile/image-header.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    }

    .header-title h1{
        font-size: 40px;
        letter-spacing: 7px;
        margin-bottom: 40px;
    }


   .grid-cont{
    display: grid;
    grid-template-areas:"img1"
                        "text1"
                        "img2" 
                        "text2"
                        "content1" 
                        "content2";
    grid-template-rows: 1fr 1fr 1fr 1fr 1.7fr 1.7fr;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
   }

   .content .text-cont{
    width: 80%;
    margin: 0 auto;
    }

   .text-1 .link-cont{
       margin: 0 auto;
   }

   .text-1 h3{
        padding: 0;
    }

    .text-1 p{
        padding: 0;
    }

   .text-2 .link-cont{
    margin: 0 auto;
    }

    .text-2 h3{
        padding: 0;
    }

    .text-2 p{
        padding: 0;
    }
  
    /*Testimonial section*/

    .testimonial-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:5rem 2rem;
    }

    .testimonial-cont h2{
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    .card-cont{
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .card-cont .card{
        margin-top: 70px;
    }

    /*Images Content*/

    .images-cont{
        grid-template-columns: repeat(2,1fr);
    }

    /*Footer*/

    footer .logo{

    }

}
